.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.primary-key {
  width: 50px;
  text-align: center;
}
.entity-actions {
  width: 114px;
}
.entity-list {
  padding: 0px;
  height: 310px;
  overflow-y: scroll;
}
.entity-list > li.active a {
  color: #546e7a !important;
  font-weight: 700;
}
.ui-datatable-items .ui-datatable {
  border: medium none;
}
.ui-datatable-items .ui-datatable-tablewrapper {
  margin: 0px;
}
