<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.FACELETS_SUPPRESS_XML_DECLARATION</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>modena</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Developement</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			/WEB-INF/hibernateConfig.xml,
			/WEB-INF/activitiContext.xml,
			/WEB-INF/applicationContext.xml
		</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,Authorization, X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.imaginepartners.imagineworkflow.util.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<description>Imagine Workflow REST API</description>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            510
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/tache/liste.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/taglib/springsecurity.taglib.xml</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/pageInexistante.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/pages/erreur.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/erreur.xhtml</location>
    </error-page>
    <error-page>
        <location>/pages/erreur.xhtml</location>
    </error-page>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <!-- Filtres for  diagram-viewer et editor-app -->
    <filter>
        <filter-name>JSONPFilter</filter-name>
        <filter-class>org.activiti.explorer.servlet.JsonpCallbackFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSONPFilter</filter-name>
        <url-pattern>/service/*</url-pattern>
    </filter-mapping>
    <!-- end of filters for diagram-viewer et editor-app -->
    <mime-mapping>
        <extension>docx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>docm</extension>
        <mime-type>
            application/vnd.ms-word.document.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dotx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.wordprocessingml.template</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dotm</extension>
        <mime-type>
            application/vnd.ms-word.template.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsm</extension>
        <mime-type>
            application/vnd.ms-excel.sheet.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xltx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.spreadsheetml.template</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xltm</extension>
        <mime-type>
            application/vnd.ms-excel.template.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsb</extension>
        <mime-type>
            application/vnd.ms-excel.sheet.binary.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlam</extension>
        <mime-type>
            application/vnd.ms-excel.addin.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pptx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pptm</extension>
        <mime-type>
            application/vnd.ms-powerpoint.presentation.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ppsx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.presentationml.slideshow</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ppsm</extension>
        <mime-type>
            application/vnd.ms-powerpoint.slideshow.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>potx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.presentationml.template</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>potm</extension>
        <mime-type>
            application/vnd.ms-powerpoint.template.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ppam</extension>
        <mime-type>
            application/vnd.ms-powerpoint.addin.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>sldx</extension>
        <mime-type>
            application/vnd.openxmlformats-officedocument.presentationml.slide</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>sldm</extension>
        <mime-type>
            application/vnd.ms-powerpoint.slide.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>one</extension>
        <mime-type>
            application/onenote</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>onetoc2</extension>
        <mime-type>
            application/onenote</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>onetmp</extension>
        <mime-type>
            application/onenote</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>onepkg</extension>
        <mime-type>
            application/onenote</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>thmx</extension>
        <mime-type>
            application/vnd.ms-officetheme</mime-type>
    </mime-mapping>
</web-app>
